{% extends "base.html" %}

{% block app_content %}
    {% if user.username == 'admin' %}
    <h1>Create a Game</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.week.label }}<br>
            {{ form.week(size=3) }}<br>
            {% for error in form.week.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.away_id.label }}<br>
            {{ form.away_id(size=12) }}<br>
            {% for error in form.away_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.away_value.label }}<br>
            {{ form.away_value(size=3) }}<br>
            {% for error in form.away_value.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.home_id.label }}<br>
            {{ form.home_id(size=12) }}<br>
            {% for error in form.home_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.home_value.label }}<br>
            {{ form.home_value(size=3) }}<br>
            {% for error in form.home_value.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    {% else %}
    <h3>Only the admin can create games! Contact picksixcommissioner@gmail.com</h3>
    {% endif %}


{% endblock %}
